.Description {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}

.Description span {
    position: relative;
    color: #2f2e41;
    animation: bounce 1.5s ease infinite alternate;
    text-shadow: 1px 1px #6c63ff;
}

@keyframes bounce {
    0% {
        top: 0px;
    }
    100% {
        top: -10px;
    }
}
