.Button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: 0.3s;
}
.icon:hover{
    background-color: rgba(124,124,124,0.3);
}