.Description *{
    margin: 0;
}
.Description{
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.Description h3{
    display: inline;
    background-color: orange;
    padding: 0px 10px 0px 10px;
    color: black;
}

.Description h1{
    font-size: 2rem;
}

.Description .desc{
    color: grey;
    display: block;
}

.Description .sns{
    display: inline-block;
    background-color: orange;
    padding: 0px 10px 0px 10px;
}