
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');

body{
    margin: 0px;
    font-family: 'Kanit', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    display: inline;
}