@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300&display=swap');
.construction{
    display: none;
}
body{
    margin: 0px;
    font-family: 'Kanit', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
li{
    display: inline;
}

@media(max-width : 700px){
    .construction{
        position: absolute;
        width: 100vw;
        height: 100vh;
        background-color: #f5b000;
        color: white;
        font-weight: bolder;
        font-size: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .App *{
        display: none;
    }
}